@import url('https://fonts.googleapis.com/css?family=Schoolbell');

body {
    background: url(../images/bg_math3.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: #000;

    font-family: 'Schoolbell', sans-serif;    
    line-height: 1.5em;
    max-width: 1200px;
    margin: 0 auto; 
    font-size: 4.5em;
    font-weight: 800;
    text-align:center;
    color:#fff;
}

.vertical-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}